.buttonsDiv {
    position: absolute;
    top: 12rem;
    left: 10rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    background-color: rgba(0, 0, 0, 0);
}

.categoryBtns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.categoryBtns button {
    text-transform: capitalize;
}